{% extends "base.html" %}

{% block content %}

<h2>All repositories</h2>

{% if projects %}
    <table class="bordered">
    {% for project in projects %}
        <tr class="bordered">
            <td class="wide_column bold">{{ project.name }}</a></td>
            <td><a href="{%  url project-details project.name %}">View details</a> </td>
            <td><a href="{% url project-edit project.name %}">Edit settings</a></td>
            <td><a href="{% url project-delete project.name %}">Delete</a></td>
        </tr>
    {% endfor %}
    </table>

    Total repositories: {{ projects|length }}

{% else %}
    <i>No repositories yet.</i>
{% endif %}

<p><a href="{% url project-add %}">Add new repository...</a></p>

{% endblock %}