{% extends "base.html" %}

{% block content %}

<h2>All repositories</h2>

{% if projects %}
    <table>
    {% for project in projects %}
        <tr>
            <td class="wide_column bold">{{ project.name }}</a></td>
            <td><a href="{% url projects-edit project.name %}">Edit settings...</a></td>
            <td><a href="{% url projects-delete project.name %}">Delete...</a></td>
            <td></td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <i>No repositories yet.</i>
{% endif %}

<p><a href="{% url projects-add %}">Add new repository...</a></p>

{% endblock %}