{% extends "base.html" %}

{% block content %}

{% if developers %}
    <table>
    {% for developer in developers %}
        <tr>
            <td>{{ developer.login }}</a></td>
            <td><a href="{{ developer.get_edit_url }}">Edit password...</a></td>
            <td><a href="{{ developer.get_delete_url }}">Delete...</a></td>
            <td></td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <i>No developers yet.</i>
{% endif %}

<p><a href="/developer/add/">Add new developer...</a></p>
    
{% endblock %}