{% extends "base.html" %}

{% block content %}

<h2>All developers</h2>

{% if developers %}


    <table class="bordered">
    {% for developer in developers %}
        <tr class="bordered">
            <td class="wide_column bold">{{ developer.login }}</a></td>
            <td><a href="{% url developer-profile developer.login %}">Profile</a></td>
            <td><a href="{% url developer-password developer.login %}">Change password</a></td>
            <td><a href="{% url developer-delete developer.login %}">Delete</a></td>
        </tr>
    {% endfor %}
    </table>

    Total developers: {{ developers|length }}
    
{% else %}
    <i>No developers yet.</i>
{% endif %}

<p><a href="{% url developer-add %}">Add new developer...</a></p>
    
{% endblock %}