{% extends "base.html" %}

{% block content %}

<h2>All developers</h2>

{% if developers %}
    <table>
    {% for developer in developers %}
        <tr>
            <td class="wide_column bold">{{ developer.login }}</a></td>
            <td><a href="{% url developers-edit developer.login %}">Edit password...</a></td>
            <td><a href="{% url developers-delete developer.login %}">Delete...</a></td>
            <td></td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <i>No developers yet.</i>
{% endif %}

<p><a href="{% url developers-add %}">Add new developer...</a></p>
    
{% endblock %}